<!--<ul *ngIf="productos.length > 0;else noProducts">
  <li *ngFor="let producto of productos" [ngClass]="{'resaltar': producto.precio > 100}"
      [ngStyle]="{'color': producto.precio > 100 ? 'red' : producto.precio < 50 ? 'green' : 'black'}">
    {{ producto.nombre }} - {{ producto.precio | currency }}
  </li>
</ul>-->

<ng-container *ngIf="productos.length > 0; else noProducts">
  <mat-card *ngFor="let producto of productos" class="producto-card" [ngClass]="{'resaltar':producto.precio > 100}" [ngStyle]="{'color': producto.precio > 100? 'red' : producto.precio < 50? 'green' : 'black'}">
    <mat-card-header>
      <mat-card-title>{{ producto.nombre }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Precio: {{ producto.precio | currency }}</p>
    </mat-card-content>
  </mat-card>
</ng-container>
<ng-template #noProducts>
  <h3>No hay productos Disponibles.</h3>
</ng-template>

