.container-products {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
  justify-content: center;
}
img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
mat-card {
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 200px;
}
.container-products {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
}
